main {
    padding-bottom: 5rem !important;
}

img {
    max-height: 140px;
}

.bg-gray {
    background: rgb(248, 248, 248);
}

figcaption {
    height: 30px;
    position: relative;
    top: -30px;
    background: rgba(2, 2, 2, 0.527);
    color: white;
    font-size: 12pt;
}

.card-body {
    margin-top: -35px;
}


/* .card_sombra {
    -webkit-box-shadow: -1px 2px 15px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 15px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 2px 15px -4px rgba(0, 0, 0, 0.75);
} */

.card {
    position: relative;
}

.favorito {
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: -35px;
    margin-left: 250px;
    background: white;
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    position: absolute;
    right: 5px;
    top: 5px;
}

.bar_circle {
    position: fixed;
    bottom: 80px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.circle {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.circle-intenal {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.circle-intenal {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.circle-plus {
    background: #FFB468;
}

.circle-email {
    background: #3E98FF;
}

.circle-call {
    background: #2F9C01;
}

.circle-chat {
    background: #F9E106;
}

.circle-social {
    background: #292929;
}

.barra-mobile {
    position: fixed;
    bottom: 0px;
}

.barra-mobile {
    -webkit-box-shadow: -1px -5px 18px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -5px 18px -5px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -5px 18px -5px rgba(0, 0, 0, 0.75);
}

@media(max-width:414px) {
    #aquario_2 {
        display: none;
    }
}