main {
    padding-bottom: 5rem !important;
}

img {
    max-height: 140px;
}

.bg-gray {
    background: rgb(248, 248, 248);
}

figcaption {
    height: 30px;
    position: relative;
    top: -30px;
    background: rgba(2, 2, 2, 0.527);
    color: white;
    font-size: 12pt;
}

.card-body {
    margin-top: -35px;
}

.card {
    position: relative;
}

.favorito {
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: -35px;
    margin-left: 250px;
    background: white;
    position: absolute;
    right: 5px;
    top: 5px;
}

.bar_circle {
    position: fixed;
    bottom: 80px;
}

.circle {
    width: 50px;
    height: 50px;
}

.circle {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.circle-intenal {
    width: 40px;
    height: 40px;
}

.circle-intenal {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.circle-plus {
    background: #FFB468;
}

.circle-email {
    background: #3E98FF;
}

.circle-call {
    background: #2F9C01;
}

.circle-chat {
    background: #F9E106;
}

.circle-social {
    background: #292929;
}

.barra-mobile {
    position: fixed;
    bottom: 0px;
}

.margin-especial {
    margin-left: 0.005rem !important;
}

.imgUser {
    height: 100px;
}

div span {
    cursor: pointer;
}
#link-preto a{
    color: black;
}